/* container já é a camera-box */
.arrow-parent {
  position: relative;
}

/* ======================
   SETA
====================== */
#arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  font-size: 64px;
  font-weight: bold;
  color: red;

  z-index: 10;
}

/* escondida */
.hidden {
  display: none;
}

/* lados */
.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

/* ======================
   BOUNDING BOX
====================== */
#bbox {
  position: absolute;
  border: 2px solid rgba(255, 0, 0, 0.767);
  box-sizing: border-box;
  pointer-events: none;
  z-index: 5; /* abaixo da seta, acima do vídeo */
}
